[run]
source = lib
omit = 
	*__init__.py
	lib/strategies/*
	lib/market_data_provider/alphavantage.py
	lib/market_data_provider/marketstack.py
	lib/market_data_provider/tiingo.py
	lib/market_data_provider/financial_modeling.py
	lib/market_data_provider/polygon.py
	lib/trading/alpaca.py
	

