*.pyc
**/results-*.json
**/data/minute_charts/*
.vscode/
**/*.dat
**/*.csv
**/*.sql
**/*.db
.venv/
conf/secret.py
notebooks/.ipynb_checkpoints/
test-reports/
data/.matplotlib-cache/
badge.svg pass_rate.svg unit_test_count.svg unit_tests.svg
*.svg
.coverage
data/simulations/**
report.html
htmlcov/*
notebooks/data/
