alpaca-trade-api
numpy
pandas
polygon-api-client
#websocket-client
matplotlib
finplot
stockstats
pandas_datareader
pandas_market_calendars
mplfinance
PyPortfolioOpt
pylint
autopep8
colorlog
xmlrunner
coverage
pybadges
pytest
pytest-bdd
pytest-html
